
.header {
    flex: 0 0 64px;
    border-bottom: 0.5px solid $kku-border-color;

    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        max-width: $kku-layout-large;
        width: 100%;
        height: 100%;

        margin: 0 auto;
        padding: 0 $kku-padding-xl;

        .header__logo {

            .header__logo__link {
                font-size: 28px;
                font-weight: 900;
                font-style: italic;
            }
        }
    }
}


@media screen and (max-width: $kku-layout-medium) {
    .header {

        .header__wrapper { padding: 0 $kku-padding-lg; }
        .header__wrapper > .header__logo > .header__logo__link { font-size: 28px; }
    }
}

@media screen and (max-width: $kku-layout-small) {
    .header {

        .header__wrapper { padding: 0 $kku-padding-lg; }
        .header__wrapper > .header__logo > .header__logo__link { font-size: 28px; }
    }
}

