
.about__layout {
    position: absolute;
    top: 50%; right: $kku-padding-xl;
    transform: translateY(-50%);

    display: flex;
    justify-content: flex-start;
    align-items: center;

    max-width: 480px;
    width: 100%;

    .about__layout__wrapper {
        width: 100%;

        .about__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;

            font-size: 22px;
            line-height: 30px;
        }
    }
}

@media screen and (max-width: $kku-layout-large) {
    .about__layout {
        left: calc(50% + $kku-padding-xl);
        width: calc(50% - ($kku-padding-xl * 2));
        max-width: none;
    }
}


@media screen and (max-width: $kku-layout-medium) {
    .about__layout {
        position: relative;
        top: auto;
        left: 0;
        transform: translateY(0);
        width: 100%;
        padding-top: $kku-padding-lg;

        .about__layout__wrapper { padding: 0; }
    }
}

@media screen and (max-width: $kku-layout-small) {
    .about__layout {
        padding-top: $kku-padding-lg;

        .about__layout__wrapper {
            .about__content {
                gap: 16px;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}
