
.social-link__container {
  @include flex-center;
  justify-content: flex-start;
  gap: 24px;

  .social-link {
    @include flex-center;
    border-radius: 8px;
    transition: 0.3s ease;

    &:hover {
      box-shadow: $kku-hover-box-shadow;
    }

    .social-link__icon {
      height: 32px;
      border-radius: 6px;
      overflow: hidden;
    }

    .social-link__text {
      font-size: 18px;
    }
  }

  .social-button {
    border: none;
    border-radius: 8px;
    background: inherit;
    box-shadow: none;
    padding: 0;
    font-size: 0;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      box-shadow: $kku-hover-box-shadow;
    }

    .social-link__icon {
      height: 32px;
      border-radius: 6px;
      overflow: hidden;
    }

    .social-link__text {
      font-size: 18px;
    }
  }
}

.k-drop-holder__popup__wrapper {
  $container__background__color: $kku-white-color;

  padding: 4px 6px !important;
  color: $kku-black-color;
  border-radius: 6px;
  background-color: $container__background__color;
  @include font-body;

  &:after {
    content: '';
    position: absolute;
    top: -14px;
    left: calc(50% - 6px);
    border-top:12px solid transparent;
    border-bottom:12px solid transparent;
    border-left:12px solid $container__background__color;
    transform: rotate(-90deg);
  }
}

@media screen and (max-width: $kku-layout-small) {
  .social-link__container {
    justify-content: flex-end;
  }
}
