
.social-link__container {
    @include flex-center;
    justify-content: flex-start;
    gap: 24px;

    .social-link {
        @include flex-center;
        border-radius: 8px;
        transition: 0.3s ease;

        &:hover {
            box-shadow: $kku-hover-box-shadow;
            transform: rotate(8deg);
        }

        .social-link__icon {
            height: 32px;
            border-radius: 6px;
            overflow: hidden;
        }
        .social-link__text { font-size: 18px; }
    }
}

@media screen and (max-width: $kku-layout-small) {
    .social-link__container{
        justify-content: flex-end;
    }
}
