@use "@/style/variables" as *;
@use "@/style/mixins" as *;


.kku-skeleton {
    background: $kku-gray-color;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    @include skeleton-animation;
}
