.profile__card {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    user-select: none;

    padding: $kku-padding-lg;
    border: 0.5px solid $kku-border-color;
    border-radius: 4px;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: transparent;
    }

    .profile__card__image {
        position: absolute;
        top: -8px; right: -32px;
        width: 132px; height: 132px;
        border-radius: 50%;
        box-shadow: rgba(255, 255, 255, 0.48) 0 22px 70px 4px;
    }

    .profile__card__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        width: 120px;

        .profile__card__content__name{
            @include font-body;
            font-weight: bold;
        }

        .profile__card__content__status-message {
            @include font-element;
        }
    }
}

@media screen and (max-width: $kku-layout-medium) {

    .profile__card {
        height: 120px;

        .profile__card__image {
            width: 160px; height: 160px;
            right: -40px;
        }

        .profile__card__content {
            .profile__card__content__name {
                @include font-body;
            }
            .profile__card__content__status-message {
                @include font-element;
            }
        }
    }
}
