$kku-navigation-background-color: lighten($kku-background-color, 4%);

.navigation__list__wrapper {
  position: fixed;
  top: 80px;
  right: 20px;
  width: 160px;
  border: 1px solid $kku-border-color;
  border-radius: 4px;
  background-color: $kku-navigation-background-color;

  .navigation__list {
    .navigation__list__item {


      .navigation__list__item__link {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 8px 12px;
        @include font-sub-title-2;
      }
    }
  }
}
