
.navigation {
  width: 240px;

  @include flex-center;
  justify-content: space-between;
  flex-direction: row;

  .navigation__link {
    font-size: 16px;
    padding: 4px;

    &:after {
      content: '';
      position: absolute;
      bottom: 1px;
      left: 4px;
      width: 0;
      height: 1px;
      background: $kku-white-color;
      transition: width 0.33s ease;
    }
  }

  .navigation__link-active {
    position: relative;
    font-weight: bold;

    &:after {
      width: calc(100% - 8px);
    }
  }
}

$kku-nav-border: lighten($kku-border-color, 40%);
$kku-nav-border-active: darken($kku-white-color, 24%);
$kku-navigation-background-color: lighten($kku-background-color, 4%);

.navigation__button {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: relative;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  outline: 0;
  border: none;
  border-radius: 3px;
  background: transparent;
  transition: 0.3s ease;
  cursor: pointer;

  .navigation__button__bar {
    width: 18px;
    height: 2px;
    border-radius: 1px;
    background-color: $kku-nav-border;
    transition: inherit;
  }

  &.navigation__button--active {
    border: 1px solid $kku-nav-border-active;
    background-color: $kku-navigation-background-color;

    .navigation__button__bar {
      background-color: $kku-nav-border-active;
    }
  }
}


.navigation__list__wrapper {
  position: fixed;
  top: 72px;
  right: 16px;
  width: 160px;
  border: 1px solid $kku-nav-border;
  border-radius: 4px;
  background-color: $kku-navigation-background-color;
  box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
  overflow: hidden;
  z-index: 9999;

  .navigation__list .navigation__list__item .navigation__list__item__link {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    padding: 10px 16px;
    color: darken($kku-white-color, 8%);
    @include font-sub-title-2;

    .navigation__list__item__link__check-icon {
      display: none;
      margin: 0;
    }

    &.navigation__list__item__link--active {
      font-weight: bold;

      .navigation__list__item__link__check-icon {
        display: block;
      }
    }

    &:hover {
      background-color: lighten($kku-navigation-background-color, 6%);
    }
  }
}


@media screen and (max-width: $kku-layout-small) {

  .navigation {
    display: none;
  }
  .navigation__button {
    display: flex;
  }
}
