@use "@/style/variables" as *;
@use "@/style/mixins" as *;


.kku_spline__wrapper {
    position: absolute;
    top: 50%; left: 0;
    width: calc(100% - (480px + #{$kku-padding-xl} * 2));
    height: 660px;
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
    user-select: none;

    &.kku_spline__wrapper__render-on {
        visibility: visible;
        opacity: 1;
        z-index: 1;
    }

    &.kku_spline__wrapper__render-off {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        z-index: -9999;

        .kku-loader { display: none; }
    }
}

@media screen and (max-width: $kku-layout-large) {
    .kku_spline__wrapper {
        left: $kku-padding-xl;
        width: calc(50% - #{$kku-padding-xl});
    }
}

@media screen and (max-width: $kku-layout-medium) {
    .kku_spline__wrapper {
        position: relative;
        top: auto;
        left: 0;
        transform: translateY(0);

        width: 100%;
        height: calc(50dvh - (#{$kku-padding-lg} * 2));
    }
}

@media screen and (max-width: $kku-layout-small) {
    .kku_spline__wrapper {
        width: 100%;
        height: calc((100dvh - (64px + 32px + (#{$kku-padding-lg} * 2))) / 2);
    }
}
