@tailwind base;

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src:
    local('Pretendard Black'),
    url('/assets/fonts/pretendard/woff2/Pretendard-Black.woff2') format('woff2'),
    url('/assets/fonts/pretendard/woff/Pretendard-Black.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard Bold'),
    url('/assets/fonts/pretendard/woff2/Pretendard-Bold.woff2') format('woff2'),
    url('/assets/fonts/pretendard/woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url('/assets/fonts/pretendard/woff2/Pretendard-Regular.woff2') format('woff2'),
    url('/assets/fonts/pretendard/woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src:
    local('Pretendard Light'),
    url('/assets/fonts/pretendard/woff2/Pretendard-Light.woff2') format('woff2'),
    url('/assets/fonts/pretendard/woff/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src:
    local('Pretendard Thin'),
    url('/assets/fonts/pretendard/woff2/Pretendard-Thin.woff2') format('woff2'),
    url('/assets/fonts/pretendard/woff/Pretendard-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Menlo';
  font-weight: 300;
  src:
    url('/assets/fonts/menlo/MenloRegular.otf') format('woff2'),
    url('/assets/fonts/menlo/MenloRegular.ttf') format('truetype');
}

:root {
  --yellow: #feca57;
  --red: #ed2b2a;
  --navy: #341f97;
  --black: #222f3e;
  --primary: #ee5253;
  --secondary: #32d962;
  --SUCCESS: #04cf52;
  --WARNING: #ffab49;
  --COLOR-BLG0: white;
  --BLG50: #f8f9fa;
  --BLG100: #f1f3f5;
  --BLG200: #e8ebed;
  --BLG300: #dee2e6;
  --BLG400: #c9cdd2;
  --BLG500: #9ea4aa;
  --BLG600: #72787f;
  --BLG700: #454c53;
  --BLG800: #26282b;
  --BLG900: #1b1d1f;
  --BLG1000: #000000;
  --lightColor: #26282b;
  --lightBg: #ffffff;
  --darkBg: #1b1d1f;
  --darkColor: #e8ebed;
}

* {
  box-sizing: border-box;
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

/* ---------- Scrollbar Style ---------- */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  transition: 0.3s ease;
}
/* Background Style */
*::-webkit-scrollbar-track {
  background: none;
}
/* Scrollbar Body Style */
*::-webkit-scrollbar-thumb {
  background-color: var(--BLG500);
}
.dark *::-webkit-scrollbar-thumb {
  background-color: var(--BLG700);
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--BLG400) var(--BLG400);
}
.dark * {
  scrollbar-width: thin;
  scrollbar-color: var(--BLG600) var(--BLG600);
}
/* ---------- Scrollbar Style ---------- */

a {
  box-sizing: border-box;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

[id] {
  scroll-margin-top: 8px;
}

.page-item:hover .page-date {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.cate-underLine .text {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.hoverUnderline:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.cate-hover:hover .text {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.shadow {
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.utterances {
  margin: 0;
  max-width: 100%;
}

@keyframes blinkEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.new-icon {
  animation: blinkEffect 1s ease-in-out infinite alternate;
}

.spin {
  animation: rotate 1s linear infinite;
  transform-origin: 50% 50%;
}

.skeleton {
  animation: skeletonMotion 1.5s ease-in-out infinite;
}
.hide {
  top: -150% !important;
}

.market-price {
  color: #f2a900;
  text-shadow: 1px 1px 1px rgba(255, 83, 83, 0.5);
  font-weight: bold;
}

.fade-in {
  animation: fadeIn 0.9s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes skeletonMotion {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.1;
  }
}

@tailwind components;
@tailwind utilities;
