@use "@/style/variables" as *;
@use "@/style/mixins" as *;


.navigation {
  width: 240px;
  @include flex-center;
  justify-content: space-between;
  flex-direction: row;

  .navigation__link {
    font-size: 16px;
    padding: 4px;
  }

  .navigation__link-active {
    font-weight: bold;
  }
}

.navigation__button__container {
  display: none;

  .navigation__button {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    position: relative;
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    outline: 0;
    border: none;
    border-radius: 3px;
    background: transparent;
    transition: 0.3s ease;
    cursor: pointer;
    user-select: none;

    .navigation__button__bar {
      display: block;
      position: relative;
      width: 28px;
      height: 3px;
      background-color: #848f9f;
      transition: inherit;

      &:after, &:before {
        content: '';
        position: absolute;
        top: -2px;
        width: 3px;
        height: 7px;
        transform: rotate(30deg);
        background-color: $kku-background-color;
      }
      &:before { left: -2px; }
      &:after { right: -2px; }
    }

    &.navigation__button--active {

      .navigation__button__bar {
        background-color: $kku-white-color;
      }
    }
  }
}


.navigation__list__wrapper {
  position: fixed;
  top: 72px;
  right: 16px;
  width: 160px;
  border: 1px solid #848f9f;
  border-radius: 4px;
  background-color: #1b1b1b;
  box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
  overflow: hidden;
  z-index: 9999;

  .navigation__list .navigation__list__item .navigation__list__item__link {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    padding: 10px 16px;
    color: #ebebeb;
    @include font-sub-title-3;

    .navigation__list__item__link__check-icon {
      display: none;
      margin: 0;
    }

    &.navigation__list__item__link--active {
      font-weight: bold;

      .navigation__list__item__link__check-icon {
        display: block;
      }
    }

    &:hover {
      background-color: #0f0f0f;
    }
  }
}


@media screen and (max-width: $kku-layout-large) {

  .navigation {
    display: none;
  }
  .navigation__button__container {
    display: block;
    .navigation__button {
      display: flex;
    }
  }
}
