@use "@/style/variables" as *;
@use "@/style/mixins" as *;


.comment__wrapper {
  @include flex-center;
  gap: 24px;
  width: 100%;
  min-height: 270px;
  margin-top: 48px;

  .comment__blank {
    max-width: 280px;
    width: 100%;
  }
}

@media screen and (max-width: 940px) {
  .comment__wrapper {

    .comment__blank {
      display: none;
    }
  }
}
