@use "@/style/variables" as *;
@use "@/style/mixins" as *;

.bitcoin__chart {
  position: relative;
  padding: $kku-padding-lg 0 calc(#{$kku-padding-lg} + 32px);
  border: 0.5px solid $kku-border-color;
  border-radius: 4px;
  background-image: url(https://raw.githubusercontent.com/macjjuni/only-bitcoin/refs/heads/main/public/images/btc-cover.avif);
  background-size: 80% auto; /* 이미지 크기를 절반으로 축소 */
  background-position: center center; /* 부모 요소의 중앙에 위치 */
  background-repeat: no-repeat;

  canvas {
    cursor: pointer;
  }

  .bitcoin__chart__title__container {
    @include flex-center;
    flex-direction: column;
    gap: 4px;
    font-weight: 500;
    padding: 0 $kku-padding-md;
    margin-bottom: 4px;
    cursor: pointer;

    .bitcoin__chart__title__text {
      @include font-sub-title-3;
      font-weight: bold;
    }

    .bitcoin__chart__title__cost {
      @include font-heading-3;
      transition: opacity 0.13s ease;

      &.bitcoin__chart__title__cost__loaded {
        opacity: 1;
      }
    }
  }

  .bitcoin__chart__button__group {
    position: absolute;
    bottom: $kku-padding-lg;
    left: 0;
    width: 100%;
    @include flex-center;
    margin-top: 8px;

    .bitcoin__chart__button {
      margin: 0;
      width: calc((100% - 32px) / 4);
      height: 32px;
      padding: 0 8px;
      color: $kku-font-color;
      border-left-width: 0;
      border-radius: 0;
      background-color: $kku-background-color;
      border-color: $kku-border-color;
      @include font-body;
      z-index: 1;

      &:first-child {
        border-left-width: 1px;
        border-radius: 4px 0 0 4px;
      }
      &:last-child { border-radius: 0 4px 4px 0; }

      &.bitcoin__chart__button--active {
        color: $kku-black-color;
        background-color: $kku-white-color;
      }
    }
  }
}
