@use "@/style/variables" as *;
@use "@/style/mixins" as *;

.archive__title {
  @include font-heading-4;
  font-weight: 500;
  padding-left: $kku-padding-sm;
}

.archive__list {
  display: flex;
  flex-direction: column;

  .archive__list__item-no-text {
    @include flex-center;
    height: 160px;
  }

  .archive__list__item {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: -0.5px;
      left: 4px;
      width: calc(100% - 8px);
      height: 0.5px;
      background: $kku-border-color;
      transition: opacity 0.3s ease;
      opacity: 1;
    }

    &:hover {
      &:after {
        opacity: 0;
      }
    }

    .archive__list__item__link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;

      padding: 12px $kku-padding-md;
      border-radius: 4px;

      transition: background-color 0.3s ease;

      &.new:before {
        content: 'NEW';
        @include neon;
        position: absolute;
        top: -6px;
        left: -6px;
        font-size: 12px;
      }

      .archive__list__item__title {
        width: calc(100% - 84px);
        @include font-heading-4;
        @include text-ellipsis;
      }

      .archive__list__item__right {
        position: relative;
        @include flex-center;
        gap: 4px;
        flex-direction: column;
        max-width: 84px;
        width: 100%;
        padding-left: $kku-padding-md;
        white-space: nowrap;
        @include font-element;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 0.5px;
          height: 80%;
          background-color: $kku-border-color;
          transition: background-color 0.3s ease;
        }
      }

      &:hover {
        background: $kku-hover-background-color;

        .archive__list__item__right:after {
          background-color: $kku-white-color;
        }
      }
    }
  }
}

@media screen and (max-width: $kku-layout-medium) {

  .archive__list {

    .archive__list__item {
      .archive__list__item__link {
        padding: $kku-padding-sm $kku-padding-md;

        .archive__list__item__title {
          width: calc(100% - 72px);
          @include font-sub-title-3;
        }

        .archive__list__item__right {
          max-width: 72px;
          width: 100%;
          @include font-small;
        }
      }
    }
  }
}
