
.archive__content__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: $kku-spacing-xl;

  .archive__content__container__detail {
    position: relative;
    width: calc(100% - $kku-archive-toc-width);
    @include mdx-styles;
  }
}

@media screen and (max-width: 960px) {
  .archive__content__container {
    flex-direction:  column-reverse;

    .archive__content__container__detail {
      width: 100%;
    }
  }
}

