@import 'fonts.scss';
@import 'reset.scss';
@import 'variables.scss';
@import 'animation.scss';
@import 'mixins.scss';


body {
    font-family: $kku-default-font-family;
    font-weight: 300;
    color: $kku-font-color;
    background: $kku-background-color;
}
*:after, *:before {
    font-family: $kku-default-font-family;
    font-weight: 300;
}


// region [Scrollbar]

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* Background Style */
*::-webkit-scrollbar-track {
    background-color: $kku-border-color;
}
/* Scrollbar Body Style */
*::-webkit-scrollbar-thumb {
    background-color: $kku-white-color;
}
.dark *::-webkit-scrollbar-thumb {
    background-color: $kku-white-color;
}

// endregion
