@use 'variables' as *;
@forward 'reset.scss';
@forward 'fonts.scss';
@use 'animation.scss';

:root {
    --font-family: #{$kku-default-font-family};
    --default-font-color: #{$kku-font-color};
    --kku-layout-large: #{$kku-layout-large};
    --kku-layout-medium: #{$kku-layout-medium};
    --kku-layout-small: #{$kku-layout-small};
}

body {
    font-family: $kku-default-font-family;
    font-weight: 400;
    color: $kku-font-color;
    background: $kku-background-color;
    letter-spacing: -1px;
}
*:after, *:before {
    font-family: $kku-default-font-family;
    font-weight: 100;
}
*::selection {
    background-color: $kku-selection-background;
}

// region [Scrollbar]

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* Background Style */
*::-webkit-scrollbar-track {
    background-color: $kku-border-color;
}
/* Scrollbar Body Style */
*::-webkit-scrollbar-thumb {
    background-color: $kku-white-color;
}
.dark *::-webkit-scrollbar-thumb {
    background-color: $kku-white-color;
}

// endregion
