
// region [Layout]

$kku-layout-large: 1100px;
$kku-layout-medium: 768px;
$kku-layout-small: 464px;

$kku-padding-xl: 24px;
$kku-padding-lg: 16px;
$kku-padding-md: 8px;
$kku-padding-sm: 4px;

// endregion


// region [Typography]

$kku-default-font-family: 'Pretendard', ui-sans-serif, system-ui, -apple-system,
'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
'Segoe UI Symbol', 'Noto Color Emoji';

$kku-font-size-heading-1: 48px;
$kku-font-size-heading-2: 32px;
$kku-font-size-heading-3: 28px;
$kku-font-size-heading-4: 22px;

$kku-font-size-sub-title-1: 24px;
$kku-font-size-sub-title-2: 22px;
$kku-font-size-sub-title-3: 18px;

$kku-font-size-body: 16px;
$kku-font-size-element: 14px;
$kku-font-size-small: 12px;

$kku-line-height-heading-1: 56px;
$kku-line-height-heading-2: 40px;
$kku-line-height-heading-3: 36px;
$kku-line-height-heading-4: 30px;

$kku-line-height-sub-title-1: 28px;
$kku-line-height-sub-title-2: 26px;
$kku-line-height-sub-title-3: 22px;

$kku-line-height-body: 24px;
$kku-line-height-element: 18px;
$kku-line-height-small: 20px;

// endregion


// region [Color]

$kku-black-color: #111111;
$kku-white-color: #ffffff;

$kku-font-color: #ffffff;

$kku-gray-color: #C7C8CC;
$kku-border-color: #404752;

//$kku-background-color: #1a1e24;
$kku-background-color: #111111;
$kku-background-smooth-color: #e0e0e0;

$kku-hover-background-color: lighten($kku-background-color, 4%);
$kku-disabled-color: darken($kku-font-color, 64%);
$kku-disabled-background-color: lighten($kku-background-color, 4%);

$kku-active-background-color: lighten($kku-background-color, 24%);


$kku-button-background-color: #2a2d33;
$kku-button-hover-background-color: lighten($kku-button-background-color, 48%);


// endregion


// region [box-shadow]

$kku-hover-box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;

// endregion
