@use '@/style/variables' as *;
@use "@/style/mixins" as *;

.resume__layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}


@media screen and (max-width: $kku-layout-small) {
  .resume__layout {

  }
}
