@use '@/style/variables' as *;
@use "@/style/mixins" as *;

.resume__layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  .label {
    font-weight: 100;
    margin-right: 4px;
    white-space: nowrap;
  }
}
