@use '@/style/variables' as *;
@use "@/style/mixins" as *;

.resume__layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;

  .resume__title {
    @include font-heading-2;
    font-weight: bold;
    background-color: #0033FF;
  }
}


@media screen and (max-width: $kku-layout-small) {
  .resume__layout {

  }
}
