@use "@/style/variables" as *;
@use "@/style/mixins" as *;


.archive__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  @include font-heading-4;
  font-weight: 500;
  padding-left: $kku-padding-sm;

  .archive__title__icon {
    display: block;
    border-radius: 4px;
    overflow: hidden;
  }
}
